.experienceCard {
  border-radius: 24px;
  background-color: rgb(255, 255, 255, .1);

  min-height: 300px;
  width: 100%;

  margin-bottom: 50px;

  padding: 30px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  .experienceCardTitleArea {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 20px;

    h4 {
      font-size: 1.5rem;

      color: #fff;
    }
  }

  p {
    flex: 1 1 0;
  }
}

@media (max-width: 960px) {
  .experienceCard {
    .experienceCardTitleArea {
      display: block;

      h4 {
        margin-bottom: 10px;
      }

      .dateText {
        font-size: 0.8rem;
      }
    }

    p {
      margin-bottom: 20px;
    }
  }
}