section.aboutSection {
  position: relative;

  margin: auto;

  width: 95%;
  max-width: 1500px;

  border-radius: 50px;

  // Prevents CSS margin collapsing "errors"
  // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_box_model/Mastering_margin_collapsing
  border: 1px solid transparent;
  
  .contentContainer {
    position: relative;

    z-index: 2;

    padding: 20px;
    margin: 50px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: var(--theme-primary-color);

    border-radius: 50px;

    .textContainer {
      padding: 50px 0;

      width: 50%;

      > * {
        display: block;

        margin: auto;

        width: 70%;
      }

      h2 {
        margin-bottom: 20px;

        line-height: 1;
        font-size: 5rem;

        span.highlight {
          color: var(--theme-primary-darken-1-color);
        }
      }

      p {
        margin-bottom: 10px;

        opacity: 0.8;

        &:last-of-type {
          margin-bottom: 40px;
        }
      }
    }

    .imageContainer {
      position: relative;

      aspect-ratio: 679 / 800;

      width: 50%;

      overflow: hidden;

      border-radius: 50px;
    }
  }

  .secondBackground {
    position: absolute;

    z-index: 1;

    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    height: 100%;

    background-color: var(--theme-primary-darken-1-color);

    border-radius: 50px;
  }
}

@media (max-width: 1260px) {
  section.aboutSection {
    .contentContainer {
      align-items: flex-start;
      flex-direction: column;

      padding: 80px 40px;

      .textContainer {
        width: 100%;

        > * {
          width: 100%;
        }

        p:last-of-type {
          margin-bottom: 40px;
        }
      }

      .imageContainer {
        margin: auto;

        width: 100%;
        max-width: 400px;
        aspect-ratio: 1;

        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 600px) {
  section.aboutSection {
    .contentContainer {
      padding: 40px;

      .textContainer {
        h2 {
          font-size: 3rem;
        }
      }
    }
  }
}