.skillList {
  display: grid;

  padding: 0 20px;

  width: auto;
  max-width: 1200px;

  margin: auto;

  gap: 30px;

  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1260px) and (min-width: 601px) {
  .skillList {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 600px) {
  .skillList {
    grid-template-columns: 1fr;
  }
}