.horizontalList {
  width: 100%;

  overflow: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  gap: 20px;

  padding: 10px 0;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .horizontalListItem {
    white-space: nowrap;

    opacity: 0.6;
  }
}