header.defaultHeader {
  display: flex;

  align-items: center;
  justify-content: space-between;

  height: 80px;

  padding: 0px 20px;

  color: #FFF;

  position: relative;

  nav.defaultNav {
    height: 100%;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    ul {
      list-style: none;

      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 500px;
      height: 100%;

      gap: 20px;

      li {
        width: 25%;
        padding: 10px;

        text-align: center;

        // border-radius: 9999px;

        transition: .1s ease-in-out all;

        &:hover {
          border-bottom: 3px solid #FFF;
          // background-color: #FFF;
          // color: #000;

          // font-weight: bold;
        }

        a {
          width: 100%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;
        }
      }
    }
  }
}

main {
  &.defaultMain {
    width: 100%;
    overflow: hidden;

    section {
      height: 1200px;
      max-height: 90vh;

      color: #FFF;

      &.firstSection {
        background-image: url('/images/backgrounds/blue-code-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        position: relative;

        overflow: hidden;

        border-radius: 50px;

        margin: 0px 20px;

        .titleImageContainer {
          background-image: url('/images/texts/developer.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;

          position: absolute;

          top: 10%;
          left: 50%;
          transform: translateX(-50%);

          width: 90%;
          aspect-ratio: 1754 / 389;
        }

        .personImageContainer {
          background-image: url('/images/illustrations/person-like.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center bottom;

          width: 100%;
          height: 80%;

          position: absolute;
          bottom: 0;
        }

        .introductionLeftText {
          position: absolute;
          
          top: 55%;
          left: 5%;

          max-width: 500px;

          p {
            font-weight: 500;
            font-size: 1.2rem;

            margin-bottom: 20px;
          }
        }
      }

      &.secondSection {
        padding: 100px 0 0 0;
        
        height: auto;
        min-height: 900px;
        // max-height: 100vh;

        position: relative;

        display: flex;
        flex-direction: column;

        h2 {
          font-size: 3rem;
          text-align: center;

          margin-bottom: 10px;
        }

        p {
          font-size: 1.2rem;
          text-align: center;

          margin-bottom: 50px;
        }

        .personArmsCrossed {
          background-image: url('/images/illustrations/person-arms-crossed.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center bottom;

          flex: 1 1 0;
        }
      }

      &.thirdSection {
        padding: 100px 200px;

        position: relative;

        background-color: #333333;

        height: auto;
        max-height: none;

        .contentContainer {
          width: 1200px;
          max-width: 90%;

          margin: auto;

          display: flex;
          gap: 100px;

          .textContainer {
            width: 50%;

            h2 {
              font-size: 3rem;
              text-align: left;

              margin-bottom: 10px;
            }

            button {
              margin-top: 20px;
            }
          }

          .personAlbum {
            background-image: url('/images/photos/person-album.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            flex: 1 1 0;
            max-height: 700px;
            aspect-ratio: 1895 / 1928;
          }
        }
      }

      &.fourthSection {
        padding: 100px 200px;

        height: auto;
        max-height: none;

        .contentContainer {
          width: 1200px;
          max-width: 90%;

          margin: auto;
        
          .titleContainer {
            text-align: center;

            margin-bottom: 50px;

            h2 {
              font-size: 3rem;
              text-align: center;

              margin-bottom: 10px;
            }

            p {
              font-size: 1.2rem;
            }
          }

          .companyTitle {
            margin-bottom: 30px;
            padding-bottom: 20px;

            border-bottom: 1px solid #444444;

            position: relative;

            h3 {
              font-size: 2rem;

              margin-bottom: 10px;
            }

            p {
              max-width: 80%;
              margin-bottom: 20px;
            }

            .companyDate {
              position: absolute;

              top: 0;
              right: 0;

              font-weight: bold;
              font-size: 1.2rem;
            }
          }

          .experienceCards {
            .experienceCard {
              border-radius: 24px;
              background-color: rgb(255, 255, 255, .1);

              min-height: 300px;
              width: 100%;

              margin-bottom: 50px;

              padding: 30px;

              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column;

              .experienceCardTitleArea {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                width: 100%;

                h4 {
                  font-size: 1.5rem;

                  background-color: #555;
                  color: #fff;

                  padding: 10px 20px;

                  border-radius: 24px;

                  display: inline-block;

                  margin-bottom: 20px;
                }
              }

              p {
                flex: 1 1 0;
              }
            }
          }
        }
      }
    }
  }
}

.highlightText {
  color: #0509DE;
}
