header.defaultHeader {
  display: flex;

  align-items: center;
  justify-content: space-between;

  height: 80px;

  padding: 0px 20px;

  color: #FFF;

  position: relative;

  &.fixedHeader {
    position: sticky;
    top: 0;

    z-index: 3;

    backdrop-filter: blur(10px);
    background-color: rgb(1, 1, 40, .1);

    animation: showFixedHeader .2s linear;
  }

  nav.defaultNav {
    height: 100%;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    ul {
      list-style: none;

      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 500px;
      height: 100%;

      gap: 20px;

      li {
        width: 25%;
        height: 100%;

        text-align: center;

        transition: .1s ease-in-out all;

        a {
          width: 100%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          color: #fff;
          text-decoration: none;

          &:hover {
            span {
              padding: 10px;
              border-bottom: 3px solid #FFF;
            }
          }
        }
      }
    }
  }
}

main.defaultMain {
  width: 100%;
  overflow: hidden;

  section {
    height: 1200px;
    max-height: 90vh;

    color: #FFF;

    &.firstSection {
      background-image: url('/images/backgrounds/blue-code-background.jpg');
      background-size: cover;
      background-repeat: no-repeat;

      position: relative;

      overflow: hidden;

      border-radius: 50px;

      margin: 0px 20px;

      .textContainer {
        width: 90%;

        margin: 5% auto auto auto;

        .titleImageContainer {
          background-image: url('/images/texts/developer.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;

          width: 100%;
          aspect-ratio: 1754 / 389;

          margin-bottom: -30px;
        }

        .introductionLeftText {
          max-width: 500px;

          position: relative;
          z-index: 2;

          p {
            font-weight: 500;
            font-size: 1.2rem;

            margin-bottom: 20px;
          }
        }
      }

      .personImageContainer {
        background-image: url('/images/illustrations/centered-person-like.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;

        width: 100%;
        height: 80%;

        position: absolute;
        bottom: 0;
      }
    }

    &.secondSection {
      padding: 100px 0 0 0;
      
      height: auto;
      min-height: 1000px;

      position: relative;

      display: flex;
      flex-direction: column;

      h2 {
        font-size: 3rem;
        text-align: center;

        margin-bottom: 10px;
      }

      p {
        font-size: 1.2rem;
        text-align: center;

        margin-bottom: 30px;
      }

      .personArmsCrossed {
        margin-top: 20px;

        background-image: url('/images/illustrations/person-arms-crossed.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;

        flex: 1 1 0;
      }
    }

    &.thirdSection {
      padding: 100px 0;

      position: relative;

      background-color: var(--theme-background-lighten-color);

      height: auto;
      max-height: none;

      .contentContainer {
        width: 1200px;
        max-width: 90%;

        margin: auto;

        display: flex;
        gap: 100px;

        .textContainer {
          width: 50%;

          h2 {
            font-size: 3rem;

            margin-bottom: 10px;
          }

          p:last-of-type {
            margin-bottom: 20px;
          }
        }

        .personAlbum {
          background-image: url('/images/photos/person-album.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;

          flex: 1 1 0;
          max-height: 700px;
          aspect-ratio: 1895 / 1928;
        }
      }
    }

    &.fourthSection {
      padding: 100px 0;

      height: auto;
      max-height: none;

      .contentContainer {
        width: 1200px;
        max-width: 90%;

        margin: auto;
      
        .titleContainer {
          text-align: center;

          margin-bottom: 50px;

          h2 {
            font-size: 3rem;
            text-align: center;

            margin-bottom: 10px;
          }

          p {
            font-size: 1.2rem;
          }
        }

        .companyTitle {
          margin-bottom: 30px;
          padding-bottom: 20px;

          border-bottom: 1px solid #444444;

          position: relative;

          h3 {
            font-size: 2rem;

            margin-bottom: 10px;
          }

          p {
            max-width: 80%;
            margin-bottom: 20px;
          }

          .companyDate {
            position: absolute;

            top: 0;
            right: 0;

            font-weight: bold;
            font-size: 1.2rem;
          }
        }
      }
    }

    &.fifthSection {
      background-color: var(--theme-background-lighten-color);
    }
  }
}

footer.defaultFooter {
  height: auto;

  color: #fff;

  background-color: #010128;

  padding: 0 5%;

  .footerTitleArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: 200px 0;

    h2 {
      font-size: 5rem;
      text-align: center;

      margin-bottom: 30px;
    }
  }

  .copyRightArea {
    border-top: 1px solid rgb(255, 255, 255, .2);

    padding: 20px;
    margin: 0 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    .centerButtons {
      text-align: center;

      white-space: nowrap;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      button {
        margin: 0 5px;
      }
    }

    .copyRightText {
      font-size: .9rem;

      opacity: 0.5;

      text-align: left;
    }

    .backToTop {
      text-align: right;
    }
  }
}

.highlightText {
  color: #0509DE;
}

@media (max-width: 1280px) {
  header.defaultHeader {
    nav.defaultNav {
      display: none;
    }
  }
}

@media (max-width: 960px) {
  header.defaultHeader {
    nav.defaultNav {
      display: none;
    }
  }

  main.defaultMain {
    section {
      &.firstSection {
        height: auto;

        position: relative;

        border-radius: 0;

        margin: 0px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .textContainer {
          width: 90%;

          margin-top: 50px;

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .introductionLeftText {
            text-align: center;

            margin: 30px auto;
          }
        }

        .personImageContainer {
          background-image: url('/images/illustrations/person-like.png');

          // width: auto;
          height: 389px;

          // flex: 1 1 0;

          position: relative;
          bottom: auto;
        }
      }

      &.thirdSection {
        .contentContainer {
          display: block;

          > * {
            margin: auto;
          }

          .textContainer {
            text-align: center;

            width: 100%;
            max-width: 600px;

            margin-bottom: 100px;
          }
        }
      }

      &.fourthSection {
        .contentContainer {
          .companyTitle {
            padding: 0 20px 20px 20px;

            .companyDate {
              position: relative;

              font-size: 0.9rem;

              margin-bottom: 20px;
            }

            p {
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 2560px) {
  main.defaultMain {
    section {
      &.firstSection {
        height: auto;
        min-height: 900px;

        .textContainer {
          margin: 100px auto auto auto;

          max-width: 2000px;
        }
      }
    }
  }
}

@keyframes showFixedHeader {
  0% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(0);
  }
}