footer.defaultFooter {
  .letsWorkTogetherArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 40px;

    padding: 20px;

    min-height: 800px;

    background-color: var(--theme-primary-darken-1-color);

    text-align: center;

    h2 {
      font-size: 5rem;
    }
  }

  .footerContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;

    padding: 50px;

    min-height: 400px;

    background-color: #00003D;

    section {
      &:first-of-type {
        h2 {
          margin-bottom: 0 !important;

          font-weight: 500;
          font-size: 1rem;
        }

        p {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }

      h2 {
        margin-bottom: 10px;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 10px;

          a {
            color: #FFF;

            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      div {
        button {
          display: block;

          margin-bottom: 10px;
        }
      }
    }
  }

  .copyrightArea {
    padding: 20px;

    border-top: 2px solid rgba(#FFF, .1);

    background-color: #00003D;
    color: rgba(#FFF, .5);

    text-align: center;
    font-size: .8rem;
    font-weight: 500;
  }
}

@media(max-width: 960px) {
  footer.defaultFooter {
    .footerContent {
      flex-direction: column;
      gap: 50px;
    }
  }
}