header.defaultHeader {
  position: sticky;

  top: 0;

  z-index: 4;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 20px;

  width: 100%;
  height: var(--header-height);

  color: #FFF;

  &.userScrolledDown {
    animation: headerAnimationStart .2s linear forwards;
  }

  nav.defaultNav {
    height: 100%;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    ul {
      list-style: none;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 600px;
      height: 100%;

      gap: 20px;

      li {
        width: 20%;
        height: 100%;

        text-align: center;

        transition: .1s ease-in-out all;

        a {
          width: 100%;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          color: #fff;
          text-decoration: none;

          &:hover {
            span {
              padding: 10px;
              border-bottom: 3px solid #FFF;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  header.defaultHeader {
    nav.defaultNav {
      display: none;
    }
  }
}

@media(max-width: 960px) {
  header.defaultHeader {
    position: fixed;

    top: 0;
    padding: 0 5%;

    a:last-of-type {
      min-width: auto !important;
    }
  }
}

@keyframes headerAnimationStart {
  0% {
    backdrop-filter: none;
  }

  100% {
    backdrop-filter: blur(7px);
  }
}
