.projectsCarouselContainer {
  padding-bottom: 20px;
  
  width: 100%;

  overflow-x: auto;
  white-space: nowrap;
  
  &.reversed {
    direction: rtl;
  }

  .projectsCarousel {
    padding-bottom: 20px;

    > * {
      margin-right: 30px
    }
  }
}

@media(max-width: 960px) {
  .projectsCarouselContainer {
    .projectsCarousel {
      padding-left: 5%;
    }
  }
}