.projectsCarouselContainer {
  padding-bottom: 20px;
  
  width: 100%;

  overflow-x: auto;
  
  &.reversed {
    direction: rtl;
  }

  .projectsCarousel {
    display: flex;

    gap: 30px;

    height: 600px;
  }
}

@media(max-width: 960px) {
  .projectsCarouselContainer {
    .projectsCarousel {
      padding-left: 5%;
    }
  }
}