.infiniteCarousel {
  --infinite-carousel-base-width: 1200px;

  width: var(--infinite-carousel-base-width);
  max-width: 90%;
  height: 100px;

  // border: 1px solid white;

  margin: auto;

  overflow: hidden;

  display: flex;

  .carouselList {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 100%;

    height: 100%;

    will-change: transform;
    animation: carrousel 20s linear infinite;

    .carouselItem {
      // border: 1px solid white;

      width: calc(var(--infinite-carousel-base-width) / 6);
      // min-width: 200px;
      height: 100%;

      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media(max-width: calc(var(--infinite-carousel-base-width) / 0.9)) {
  .infiniteCarousel .carouselList .carouselItem {
    width: calc(90% / 6);
  }
}

@keyframes carrousel {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}